@import 'colors';
@import 'fonts';

.blueButton {
  background: $color_firm_light_blue;
  border-radius: 6px;
  border:  solid  2px $color_firm_light_blue;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 44px;

  color: $color_firm_white;
  font-family: $font-family-small;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  transition-duration: 0.3s;
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $color_firm_white;
    color: $color_firm_light_blue;
  }
}

.whiteButton {
  @extend .blueButton;

  background: $color_firm_white;
  border: solid  2px $color_grey;

  color: $color_firm_light_blue;

  &:hover {
    background: $color_firm_light_blue;
    color: $color_firm_white;
    border:  solid  2px $color_firm_light_blue;
  }
}

.agreementButton {
  background: #CDCFDA;
  border-radius: 2px;

  padding: 4px 6px;

  font-family: $font-family-small;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  color: $color_dark_gery;

  transition-duration: 0.3s;
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  margin-left: 10px;
}