$color_background_landing: #FFFFFF;
$color_background_main: #F0F6FC;

$color_firm_white: #FFFFFF;
$color_firm_blue: #071145;
$color_firm_light_blue: #306DE5;


$color_grey: #DADBE3;
$color_light_grey: #CDCFDA;
$color_dark_gery: #5E6586;

$color_border_grey: rgba(7, 17, 69, 0.2);

$color_input: #A8ACBE;
$color_input_text: #5E6586;
