@import '../../assets/colors';
@import '../../assets/sizes';
@import '../../assets/fonts';
@import '../../assets/buttons';

.fullPageBack {
  position: absolute;
  top: $header_height + 80px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  box-sizing: border-box;

}

.fullPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.fullPageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;

  width: 100%;
  margin-left: $left_right_indents;
  margin-right: $left_right_indents;
}

.mainImg {
  position: fixed;
  z-index: -1;
  right: 95px;
  top: 127px;
}

.mainTitle {
  font-family: $font-family-firm;
  font-weight: bold;

  font-size: 28px;
  line-height: 32px;
  text-align: left;

  color: $color_firm_blue;

  width: 600px;

  margin-bottom: 8px;
}

.title {
  @extend .mainTitle;

  font-size: 20px;
  line-height: 23px;

  width: 560px;
  height: 20px;
}

.smallText {
  font-family: $font-family-small;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

  color: $color_firm_blue;

  width: 456px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.blueButtonMainPge {
  @extend .blueButton;

  margin-bottom: 80px;
}

.statisticsContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  margin-top: 36px;
  margin-bottom: 48px;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  margin-right: 56px;
}

.statisticValue {
  font-family: $font-family-firm;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;

  text-align: left;
  color: $color_firm_blue;

}

.statisticDescription {
  height: 36px;

  font-family: $font-family-small;
  font-size: 16px;
  line-height: 20px;

  text-align: left;
  color: $color_firm_blue;
}

.agreement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  font-family: $font-family-small;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  color: $color_firm_blue;

  margin-top: 42px;
  margin-bottom: 22px;
}

.socialNetworks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  margin-bottom: 82px;
}

.socialNetworksImg {
  margin-right: 19px;
}