@import '../../assets/colors.scss';
@import '../../assets/sizes.scss';
@import '../../assets/fonts';

.header {
  font-family: $font-family-firm;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;

  background: $color_firm_white;
  opacity: 92%;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  user-select: none;
  text-decoration: none;
}

.headerContent {
  position: absolute;
  left: $left_right_indents;
  right: $left_right_indents;
  height: 100%;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logoImg {
  width: 40px;
  height: 18.55px;
  position: absolute;


}

.headerTitle {
  font-family: $font-family-firm;
  font-style: normal;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  font-size: 18px;
  color: $color_firm_blue;
  line-height: 24px;

  position: absolute;
  left: 48px;

  width: 118px;
  height: 18px;

  margin-right: 122px;
}

.headerNavigate{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  position: absolute;
  left: 248px;
}



.headerNavigateButton {
  font-family: $font-family-small;
  font-weight: 500; //medium

  font-size: 14px;
  line-height: 16px;

  color: $color_firm_blue;

  transition-duration: 0.3s;
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  margin-right: 32px;

  &:hover {
    border-bottom: 1px solid $color_firm_blue;
  }
}

.registrationNavigate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  position: absolute;
  right: 0;
}

.registrationNavigateButton {
  @extend .headerNavigateButton;
  margin-left: 31px;
  margin-right: 0;
}

.separator{
  position: absolute;
  left: $left_right_indents;
  right: $left_right_indents;
  bottom: 0;

  height: 1px;

  background: $color_firm_blue;
  opacity: 0.2;
}